.git
.gitignore
.nx
.turbo
.DS_Store
node_modules
coverage
dist
build
.next
apps/*/dist
apps/admin/.next
libs/*/*/dist
*.tsbuildinfo
.env
.env.*
!.env.example
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
docs/design-updates/figma-cache/screenshots
